/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a, button, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    align-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}

.nav_links {
    list-style: none;
    align-items: center;
    align-content: center;
}

.nav_links, li {
    display: inline-block;
    padding: 0 20px;
    align-content: center;
}

.nav_links, li, a {
    transition: all 0.3s ease 0s;
    align-content: center;
}

.nav_links, li, a:hover {
    color: #ff99ff;
    align-content: center;
}

button {
    padding: 9px 9px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.Index {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 200px;
    padding-top: 25px;
    margin-top: 25px;
    border-radius: 50px;
}

body {
    background: url("images/HadesScreenshot.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    font-family: "Monsterrat", sans-serif;
    color: #edf0f1;
}

a:hover {
    color: #ff99ff;
}

.Projects {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height:200px;
    padding-top:25px;
    margin-top:25px;
    border-radius: 50px;
}

.About {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height:200px;
    padding-top:25px;
    margin-top:25px;
    border-radius: 50px;
}

.Socials {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height:200px;
    padding-top:25px;
    margin-top:25px;
    border-radius: 50px;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px
}

.Github {
    align-content: center;
}

.DieHornet {
    padding-left: 15px;
}

@media only screen and (max-width: 500px) {
    .Index, .About, .Socials, .Projects {
        height: 250px;
    }

    img {
        border-radius: 50%;
        height: 65px;
        width: 65px;
        padding-left: 10px;
        padding-right: 10px
    }

    .SocialsNavBar {
        padding-left: 14px;
    }

    .Github, .Instagram, .Twitch {
        width: 75px;
    }

    button  {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 500px) {
    button {
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: hand;
        transition: all 0.3s ease 0s;
    }
}

html {
    padding: env(safe-area-insert);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 780px) and (max-width: 930px) {
    body {
        padding-top: 10px;
        margin: 0 40px;
        overflow: scroll;
    }
    
    .showcase {
        height: 1px;
    }

    .Index, .About, .Socials, .Projects {
        height: 200px;
    }
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    justify-content: center;
    padding: 5px 10%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}